body {
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(-45deg, #6b1c04, #6808a0, #169275);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 110px;
  border-radius: 50%;
  border: solid #169275;
  border-width: 4px;
  
}

.profile-name {
  text-align: center;
  padding: 30px;
  font-size: 28px;
  color:white;
  text-shadow: 0.1em 0.1em 0.2em black;
  animation: animationFont 1s;
  padding-bottom: 2px;
}

 i{
  color: #8ce2ce;
}

.profile-name p{
  font-size: 18px;
  margin: 1;
  color:#82f7dcc4;
}

.links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid #169275;
  border-width: 2px;
  padding: 20px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 18px;
  
}

a {
  font-family: Verdana, Tahoma, sans-serif;
  text-decoration: none;
  color: #82f7db;
  transition: color 1s;
  animation: animationFont 3s;
}

a:hover {
  color: rgb(2, 0, 0);
  background-color: rgba(0, 0, 0, 0.116);
}

.rodape {
  padding: 40px;
}

.rodape-texto {
  text-align: center;
  color: #82f7dc63;
}

@keyframes animationFont {
  from {
    transform: rotateX(70deg);
  }

  to {
    transform: rotateX(0deg);
  }
}